{% extends 'layout.html' %}
{% load static %}

{% block title %}Jeux{% endblock title %}

{% block main %}
    <div class="w-full mx-auto">
        <h1 class="text-3xl font-semibold mb-6">Jeux Pokémon</h1>
        <ul class="w-full grid gap-4 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8">
            {% for game in games %}
                <li class="bg-white p-4 shadow-md rounded-lg">
                    <a href="{% url 'pokedex' version=game.name %}">
                        <img src="{{ game.jaquette.url }}" alt="Jaquette de {{ game }}" class="w-full mb-2">
                        <h2 class="font-semibold">{{ game }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}