{% extends 'layout.html' %}
{% load static %}

{% block title %}Jeux{% endblock title %}

{% block content %}
    <div class="w-full max-w-lg mx-auto">
        <h1 class="text-3xl font-semibold mb-6">Jeux Pokémon</h1>
        <ul class="grid gap-4 grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {% for game in games %}
                <li class="bg-white p-4 shadow-md rounded-lg">
                    <img src="{{ game.jaquette.url }}" alt="Jaquette de {{ game }}" class="w-full mb-2">
                    <h2 class="font-semibold">{{ game }}</h2>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}